# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db

# Virtual environment
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/

# OS
.DS_Store
Thumbs.db
